$sidebar-w = 250px
$header-h = 50px
$med-s = 600px

* 
  box-sizing: border-box

.clearfix
  &:after
    content: ""
    display: table
    clear: both

.el-menu
  // height: 100vh



#dashboard 
  @extends .clearfix

.app-sidebar
  padding-top: $header-h + 20px
  width: $sidebar-w
  float: left
  background-color: #eef1f6
  height: 100vh
  @media(max-width: $med-s)
    width: 50vw
    float: none
    position: fixed 
    overflow-y: scroll
    z-index: 9
    display: none
  &.active 
    @media(max-width: $med-s)
      display: block


.app-content
  padding: 20px
  padding-top: $header-h
  width: "calc(100% - %s)" % $sidebar-w
  float: left
  height: 100vh
  overflow-y: auto
  @media(max-width: $med-s)
    width: 100vw
    float: none 


.modal .el-form
  img 
    max-height: 200px


.el-table .cell
  img 
    max-height: 100px
    margin: 10px 0